<!-- footer for the web page  -->
<footer class="bg-dark mt-auto">
    <ul class="nav justify-content-center pb-1 mb-2">
        <li><a href="/" type="button" class="btn text-white px-2">Home</a></li>
        <li><a href="https://github.com/Mr-BiG1" type="button" class="text-white btn px-2">Features</a></li>
        <li><a href="#" type="button" class="text-white btn px-2">FAQs</a></li>
        <li><a href="/reminder/about/" type="button" class="text-white btn px-2">About</a></li>
    </ul>
    <p class="text-center text-white">&copy; 2024 remindwise, Inc</p>
</footer>